@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url('https://unpkg.com/shards-ui@latest/dist/css/shards.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

html {
  margin: 0 auto;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container { 
  max-width: 768px;
  margin-top: 20px;
}

.featured-card { 
  transform: translateY(0px);
  transition: .5s;
}

.featured-card:hover {
  transform: translateY(-3px);
  transition: .5s;
}

.counter {
  margin: auto;
  padding: 10px;
}

.counter-card { 
  margin: auto;
  max-width: 50%;
  text-align: center;
  padding: 10px;
  transform: rotate(0);
}

.bordered-card {
  border-right-width: 5px;
  border-right-style: solid;
}

.smaller { 
  font-size: 1.17rem;
}