@import "@primer/css/index.scss";

html,
body {
    margin: 0 auto;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

a {
    color: inherit;
}